{{#if model.enabled}}
  {{#if model.stats}}
    <table class='tbl spam-stats'>
      <tr>
        <th>{{i18n "akismet.stats.scanned"}}</th>
        <th>{{i18n "akismet.stats.needs_review"}}</th>
        <th>{{i18n "akismet.stats.confirmed_spam"}}</th>
        <th>{{i18n "akismet.stats.confirmed_ham"}}</th>
      </tr>
      <tr>
        <td>{{model.stats.scanned}}</td>
        <td>{{model.stats.needs_review}}</td>
        <td>{{model.stats.confirmed_spam}}</td>
        <td>{{model.stats.confirmed_ham}}</td>
      </tr>
    </table>
  {{/if}}

  {{#if currentUser.admin}}
    {{d-button label="admin.plugins.change_settings" icon="gear" class='settings-button' action="showSettings"}}
  {{/if}}
{{else}}
  {{#if currentUser.admin}}
    {{d-button label="akismet.change_settings" icon="gear" class='settings-button' action="showSettings"}}
  {{/if}}
  {{{i18n "akismet.not_enabled"}}}
{{/if}}
